/*Header styling*/
#header {
	font-size: 15px !important;
	border-bottom: 1px solid darkgray;
	font-family: "Montserrat";
}
.left-head {
	text-align: center;
	
}
.right-head {
	text-align: center;
}
.header-site {
    color: indigo;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}
.header-home {
    color: indigo;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}
.header-all {
    color: indigo;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}
.header-my {
    color: indigo;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}
.header-settings {
    color: indigo;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}
.header-logout {
    color: indigo;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}
.header-signup {
    color: indigo;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}
.header-login {
    color: indigo;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}
