doctype html
html
  head
    title .mp3trade
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
    link(rel='stylesheet', ,='', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/public/css/main.css', type='text/css')
    link(rel='stylesheet', href='/public/css/header.css', type='text/css')
    link(rel='stylesheet', href='/public/css/signup.css', type='text/css')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(type='text/javascript', src='/controllers/headerHandler.js')
    script(type='text/javascript', src='/controllers/signupHandler.js')
  body.background.fluid-container
    #header
    h1.signup-title Sign up
    
    p.flash #{message}
    
    .name.form-group
      label.name-text(for='name-input') Name
      |  
      input#name-input.form-control(type='text', maxlength='100')
    .email.form-group
      label.email-text(for='email-input') Email
      |  
      input#email-input.form-control(type='text', maxlength='100', name='email')
    .password.form-group
      label.password-text(for='password-input') Password
      |  
      input#password-input.form-control(type='password', maxlength='100', name='pass')
    |  
    button#signup-btn.btn.btn-primary(type='submit') Sign up
    |  
    a.btn.btn-secondary.login-btn(href='/login') Login
